# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python

# Virtual env
venv/
.venv/
env/

# Django
*.sqlite3
db.sqlite3
staticfiles/
media/

# Muhit sirlari
.env
.env.*
!.env.example

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Loglar
*.log
